.project {
  width: 24%;
  border: 1px solid #abb2bf;

  img {
    height: 201px;
    width: 100%;
    object-fit: cover;
  }
  .made-with {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #abb2bf;
    padding: 10px 20px;
  }
  .project-info {
    padding: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    .project-buttons {
      display: flex;
      align-items: center;
      gap: 20px;
      svg {
        color: #fff;
        cursor: pointer;
        transition: 0.3s;
        object-fit: cover;
        &:hover {
          transform: scale(1.15);
        }
      }
    }
  }

  h3 {
    margin-top: 10px;
  }
}

@media screen and (max-width: 1350px) {
  .project {
    width: 49%;
  }
}

@media screen and (max-width: 770px) {
  .project {
    width: 100%;
    margin-bottom: 20px;
  }
}
