header {
  padding: 100px 0px 100px 0px;

  .header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-leftside {
      p {
        margin: 30px 0px;
      }
    }
    .header-rightside {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        background-image: url(../../../images/MyPictures/mypic1-background.png);
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        animation: pic-bg 4s infinite linear;
      }
      img {
        transform: scale(1.2) translateY(-70px);
      }
      .image-bottomside {
        background: #282c33;
        border: 1px solid #abb2bf;
        position: absolute;
        padding: 8px 20px;
        width: 100%;
        bottom: 0px;
        left: 0px;
        display: flex;
        align-items: center;
        gap: 20px;

        .cube {
          width: 16px;
          background: #c778dd;
          height: 16px;
        }
      }
    }
  }
  .subtext-main {
    padding: 100px 0px;
    .subtext {
      padding: 32px;
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      background: #282c33;
      border: 1px solid #abb2bf;
      position: relative;
      img {
        position: absolute;
        &.sub-icon1 {
          left: 15px;
          top: -15px;
        }
        &.sub-icon2 {
          right: 15px;
          bottom: -15px;
        }
      }
      h2 {
        font-size: 23px;
      }
    }
  }
}

@keyframes pic-bg {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}
