.home-projects {
  padding: 100px 0px;
  .home-projects-header {
    margin-bottom: 50px;
    .projects-header-flex {
      display: flex;
      justify-content: space-between;
      span:nth-child(2) {
        margin-left: 10px;
      }
    }
  }
}
